.ico_svg_button{
  filter: invert(1);
  width: 21%;
  margin-right: 5px;
  max-height: 28.9px;
}

.mr-4{
  margin-right: 4px;
}

.img-folder-btn{
  width: 14% !important;
}

.ico-folder{
  width: 2rem;
  height: 2rem;
}

FIELDSET {
    margin: 8px;
    border: 1px solid silver;
    padding: 8px;    
    border-radius: 4px;
}
LEGEND{
    padding: 5px;    
    width: 10%;
}

LEGEND > H6{
 margin: 0;
}

#content-zone-drop{
  position: absolute;
   width: 100%;
   display: none;
   height: 100%;
   background-color: black;
   opacity: 0.3;
   z-index: 1040;
}

.zone-active{
  display: block !important;
}

#img-zone-drop{
    width: 150px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1020;
    filter: invert(97%) sepia(1%) saturate(4%) hue-rotate(230deg) brightness(115%) contrast(100%);
}

table tbody{
  font-size: 14px;
}

.table td{
  padding: 2px 20px;
}

.center-p{
    top: 0;
    bottom: 0;
    margin: auto;
}

.authincation
{
  background-image: url(../../../img/S_Img.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.dev-cursor-pointer
{
  cursor: pointer;
}

.dev-bold
{
  font-weight: bold;
}

.dev-text-color-primary
{
  color: #FE634E;
}

.dev-card-body 
{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 80px;
}

.dev-font-green
{
  color: green;
  font-weight: 600;
  font-size: 20px;
}

/* MEDIA QUERIES DEFAULT  */
@media only screen and (min-width: 320px) and (max-width: 480px)
{
  .authincation 
  {
    background-color: #f17a20;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px)
{
  .authincation 
  {
    background-color: #f17a20;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px)
{
  .authincation 
  {
    background-color: #f17a20;
  }
}

@media only screen and (min-width: 769px) and (min-width: 900px)
{
  .authincation 
  {
    background-color: #f17a20;
  }
}

@media only screen and (min-width: 901px) and (min-width: 1024px)
{

}

@media only screen and (min-width: 1025px) and (min-width: 1200px)
{

}