.btn-wsp
{
    display:none;
}

.dev_header
{
    padding-left: 0!important;
}

.dev_titles
{
    margin-left: 20px!important;
    margin-top: 10%!important;
    /* position: fixed; */
}

.dev_container_asist
{
    margin-top: 10%!important;
}

.h-100 {
    height: 97% !important;
}

